services:
  backend:
    build:
      context: ../..
      dockerfile: infra/docker/backend.Dockerfile
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ../..
      dockerfile: infra/docker/frontend.Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend
